<ion-view title="Dashboard">
  <ion-content class="has-header padding">
    <div>
            <label for="income">Your monthly income</label>
            <input type="text" id="income"/>
        </div>
            <label for="expenses">Your base monthly expenses</label>
            <input type="text" id="expenses"/>
        </div>
        <div>
            <label for="goal">Your savings goal</label>
            <input type="text" id="goal"/>
        </div>

        <div>
            You can spend $<span id="daily">0.00</span> a day.
        </div>

        <button id="save">Save</button>

        <div>
            <label for="day">Day: </label>
            <input id="day" type="number" min="1" max="31"/>
            <label for="spent">Amount spent:</label>
            <input id="spent"></input>
        </div>

        <div>
            You have $<span id="budget">0.00</span> left to spend today.
            You have saved $<span id="savings">0.00</span> this month.
            <button id="calc">Recalculate</button>
        </div>
  </ion-content>
</ion-view>
